
body {
    background-color: #0C1927FF;
}

.change-theme[data-theme = "black"] {
    display: none;
}

.change-theme[data-theme = "light"] {
    display: block;
}

/*LOGO-style*/

.style-logo__nav {
    color: white;
}

.style-logo__letter {
    color: #4BCAFF;
}

/*NAVIGATION-style*/

.navigation {
    background-color: #495863;
}

.navigation-list li {
    border-left: 1px solid #0C1927FF;
}

.navigation-list li:nth-child(2):hover {
    background-color: black;
}

.navigation-list li:last-child {
    border-right: 1px solid black;
}

.navigation-list .navigation-list__items {
    color: white;
}

.navigation-list__items-2:hover {
    color: darkorange;
}

.navigation-list .navigation-list__items-2::after {
    background: darkorange;
}

/*MAIN-style*/

.main-menu {
    border: 1px solid white;
}

.subtitle-page1 {
    color: white;
}

.subtitle-page2 {
    color: white;
}

.main-menu__items {
    color: white;
}

.main-menu__items-top:hover {
    background-color: #495863;
}

.image {
    border: 1px solid white;
}

/*FOOTER-style*/

.footer {
    background: #495863;
}

.footer-list li .footer-menu__items {
    color: white;
}

li .footer-menu__items-2:hover {
    color: darkorange;
}

.footer-list li .footer-menu__items-2::after {
    background: darkorange;
}

.copyright {
    color: white;
}







