body {
    background-color: white;
}

.change-theme[data-theme = "black"] {
    display: block;
}

.change-theme[data-theme = "light"] {
    display: none;
}

/*LOGO-style*/

.style-logo__nav {
    color: black;
}

.style-logo__letter {
    color: #4BCAFF;
}

/*NAVIGATION-style*/

.navigation {
    background-color: #35444F;
}

.navigation-list li {
    border-left: 1px solid white;
}

.navigation-list li:nth-child(2):hover {
    background-color: #222F3A;
}

.navigation-list li:last-child {
    border-right: 1px solid white;
}

.navigation-list .navigation-list__items {
    color: white;
}

.navigation-list__items-2:hover {
    color: #3181A6;
}

.navigation-list .navigation-list__items-2::after {
    background: #4BCAFF;
}

/*MAIN-style*/

.main-menu {
    border: 1px solid #000000;
}

.main-menu__items {
    color: #495863;
}

.main-menu__items-top:hover {
    background-color: #DBDBDB;
}

.image {
    border: 1px solid #000000;
}

/*FOOTER-style*/

.footer {
    background: rgba(99, 105, 110, 0.48);
}

.footer-list li .footer-menu__items {
    color: #0C1927;
}

li .footer-menu__items-2:hover {
    color: #3181A6;
}

.footer-list li .footer-menu__items-2::after {
    background: #3181A6;
}








